/models/
/pretrained_weights.pt
/data/chembl_0_full.csv
/data/chembl_0_smiles.csv
/data/.ipynb_checkpoints/combine_chembl_drugbank-checkpoint.ipynb
/src/models/transformer_net/
/src/.ipynb_checkpoints/helper_nb-checkpoint.ipynb
/src/epoch=6-step=405.ckpt
/data/descriptors_datasets/
/src/TDC/data/
/production/descriptors_production/
/production/TDC_production/
/src/data/
